

.container {
  display: flex;
  justify-content: space-between;
}

/* Estilos para el panel de filtros */
.filters {
  padding: 20px;
  border-right: 1px solid #ccc;
  width: 30%;
}
.filters.form-row{
  width: 100%;
}

/* Resto de estilos para los filtros */

/* Estilos para los productos */
.products {
  padding: 20px;
  width: 65%;
}

/* Ajustes para mostrar dos columnas por fila */
.product-item {
  width: calc(45% - 20px); /* Ancho del 50% con márgenes entre elementos */
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-left:30px;
  box-sizing: border-box; /* Incluye el padding y border en el ancho */
  float: left; /* Alineación en línea */
  height: 300px; /* Altura fija para cada producto */
}

.product-item:nth-child(odd) {
  clear: both; /* Inicio de una nueva fila */
}

/* Estilos para la imagen */
.product-item img {
  
  height: 200px; /* Altura fija para la imagen */
  margin: 0 auto;
  display: table;
  width: 200px;
  margin: 0 auto;
}

/* Resto de estilos para los elementos de producto */
