/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 60px;
    font-size: 12px;
  }
  
  .logo {
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navLinks li {
    margin-right: 20px;
  }
  
  .navLinks li a {
    color: white;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #515151;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  